# Ignore build artifacts
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/

# Ignore Rider project files
.idea/
*.sln.iml

# Ignore Visual Studio Code settings
.vscode/

# Ignore other files
*.log